a :hover{
    color: whitesmoke;
    text-decoration: none;
    font-size: 15px;
}
footer, a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 10px;
}
.news {
    border: solid whitesmoke;
    border-radius: 5px;
}